*{
    cursor: wait;
}
body{
    background-color: #232931;
}
#gameWindow{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #232931;
}
div.buttonPanel{
    position: absolute;
    top: 5%;
    right: 5%;
}

button{
    transition: all 1s;
}

button.op-0{
    opacity: 0;
}

#gameTitle{
    margin: 20px 0 20px 0;
    color: #4ecca3;
}
#gameArea{
    width: 80vw;
    height: 90vh;
    /* background-color: #f3e8cb; */
}

#gameBoard{
    width: 40vw;
    height: 40vw;
}
tr{
    width: 40vw;
    height: 8vw; 
}
td{
    width: 8vw;
    height: 8vw;
    background-color: #eeeeee;
    text-align: center;
    align-items: center;
}

td>input{
    width: 98%;
    height: 98%;
    text-align: center;
    font-size: 2em;
    border: 0px;
    background-color: #393e46;
    color: #4ecca3;
}
